body {
  color: white;
  background-color: #f4f5db;
  font-family: serif;
}

A {
  color: white;
}

h1 {
  font-size: 5em;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 3.25em;
}

h3 {
  font-size: 2.25em;
}

h6 {
  font-family: 'Ubuntu', sans-serif;
}

#title {
  background-color: #ec0101;
}

.top {
  padding: 25px 0;
  margin: auto 150px;
}

.navbar {
  font-size: 1.25em;
}

.middle-container {
  margin: 75px 325px;
  text-align: center;
  color: black;
}

#carouselExampleControls {
  width: 700px;
  height: 700px;
}

#details {
  background-color: #ec0101;
}

.bottom-container {
  margin: 50px 150px -16px;
  padding-top: 50px;
}

.facebook {
  width: 40px;
  height: 40px;
}

.vk {
  width: 55px;
  height: 45px;
}

.insta {
  width: 50px;
  height: 45px;
}

.mail {
  width: 40px;
  height: 40px;
}

.tele {
  width: 60px;
  height: 50px;
}

.end {
  padding: 25px 0 25px;
  text-align: center;
}
