body {
  color: #40514E;
  text-align: center;
  margin:auto;
  font-family: Georgia, serif;
  background-color: #f0ffff;
}

.navigation {
  color: #1E90FF;
  font-size: 1.32em;
  text-align: center;
  margin-top: 60px;
}

h1 {
  font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

p {
  font-size: 1em;
}

hr{
  border: 0;
  border-bottom: 10px dotted;
  color: #40514E;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 320px;
  margin-right: 320px;
}

A {
  color: #1E90FF;
}

A: visited {
  color: #1E90FF;
}

.top-container {
  padding-top: 50px;
}

.info {
  margin-left: 400px;
}

.programmer {
  width: 700px;
  height: 450px;
}

.aboutme {
  border-radius: 100px;
  border: 3px solid black;
  width: 250px;
  height: 300px;
}

.hobby {
  margin-left: 300px;
  margin-right: 300px;
}

.textBook {
  padding-bottom: 110px;
  width: 400px;
}

.imageBook {
  width: 400px;
  height: 200px;
}

.movie {
  padding-right: 25px;
}

.city {
  margin-left: 300px;
  margin-right: 300px;
}

.textCity1 {
  padding-bottom: 75px;
  width: 400px;
}

.textCity2 {
  padding-bottom: 75px;
}

.imageCity1 {
  border-radius: 300px;
  width: 400px;
  height: 300px;
  border: 2px solid black;
}

.imageCity2 {
  border-radius: 300px;
  width: 400px;
  height: 300px;
  border: 2px solid black;
}

.univer {
  margin-left: 300px;
}

.textUniver {
  padding-bottom: 70px;
  width: 400px;
}

.imageUniver {
  width: 400px;
  height: 300px;
}

.phone {
  padding-right: 15px;
  width: 35px;
  height: 35px;
}

.telegram {
  padding-right: 15px;
  width: 35px;
  height: 35px;
}

.mail {
  padding-right: 15px;
  width: 35px;
  height: 35px;
}
