body {
  background-color: #f3f4ed;
}

h1 {
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
}

A {
  color: red;
}

.visited {
  color: white;
}

.button {
  background-color: white;
  border-radius: 500px;
  width: 150px;
  height: 75px;
  font-size: 1.5em;
}

.top-container {
  color: white;
  background-color: #F00;
  padding: 50px 175px;
}

.col-sm {
  margin-right: 100px;
  margin-left: 100px;
}

.middle-container {
  margin: 20px 350px 75px;
  text-align: center;
}

.bottom-container {
  color: white;
  padding: 35px 0px;
  text-align: center;
  background-color: #F00;
}

.zhobalau-1 {
  width: 200px;
  height: 200px;
}

.phone {
  color: white;
}

.card {
  margin-top: 35px;
  padding: 10px;
}

.fa-calculator {
  font-size: 40px;
  margin: 15px 0px 15px;
}

.fa-clock {
  font-size: 40px;
  margin: 15px 0px 10px;
}

.fa-money-check {
  font-size: 40px;
  margin: 15px 0px 10px;
}

.fa-history {
  font-size: 40px;
  margin: 10px 0px 15px;
}
